<header>
	<%= link_to logo, root_path, :class => "span-6 append-7" %>
	<nav class="round span-4">
		<ul>
			<li><%= link_to "home", root_path %> </li>
			<li><%= link_to "help", help_path %> </li>
			<li><%= link_to "sign in", '#' %> </li>
		</ul>
	</nav>	
</header>
